/* ipad */
/* 1280 / 1028 */

@media screen and (max-width:1280px){
    html{
        font-size: 8px;
    }
}

@media screen and (max-width:980px){
    /* 1. 제거하기 */
    .main-menu,
    .header-right{
        display:none;
    }
    .address,
    .company-info{
        display:none;
    }

    /* 2. 보이기 */
    /* 3. 100% 만들기 */
    .header-left{
        top:50%;
        transform: translateY(-50%);
    }
        /* main-silder */
    .main-slider>div .text-box{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }   

    .main-slider>div .text-box .slider-title{
        color:#fff;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    }
    .main-slider>div .text-box .explication{
        color:#fff;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
        font-weight:800;
    }

    main{
        overflow:hidden;

    }
        /* shop-by-catagory */
        .catagory-list{
            flex-wrap:wrap;
            gap:20px;
        }

        .catagory-list>div{
            /* 40px / 3 */
            /* 100% / 보여지는 개수 - (간격 * 2 / 보여지는 개수) */
            width:calc(100% / 3 - 13.33333335px);
            flex:none;
        }

        .catagory-list>div:first-child,
        .catagory-list>div:nth-child(2){
            width:calc(100% / 2 - 10px);
        }
        /* make your own */
        /* loved by */
        .loved-by-list-bottom{
            flex-wrap:wrap;
            gap:20px;
        }

        .loved-by-list-bottom .loved{
            width:calc(100% / 2 - 10px);
        }

        .loved-by-list-top{
            /* 기본이 100%, 자식은 3개...
            자식 보여주기 - 자식 1개 보여주기 100 * 자식의 개수
                        - 자식 2개 보여주기 100 * 자식의 개수 / 보고싶은 자식개수 */
            width:calc(100% * 3 / 1.33333335);
            gap:20px;
        }
        /* new in */
        .new-in-wrap .outline-title{
            margin-bottom: 0;
        }
        .new-in-wrap .new-item-img{
            width:80%;
            position:static;
            transform:translateY(0);
        }
        .arrow-list{
            position: absolute;
            right:2.5%;
            bottom:10rem;
        }
        /* summer shorted */
        .sunshade-list{
            gap:2rem;
            width:calc(100% * 4 / 1.7);
        }

        /* catalogue */
        .catalogue-list{
            gap:2rem;
            width:calc(100% * 3 / 1.2);
        }
        /* footer */
        .footer-menu{
            width:100%;
            justify-content:space-between;
        }
        .footer-menu>li:nth-child(2n){
            text-align:right;
        }

        
}

/* mobile */
/* 768px / 320, 360, 480, 640px */
@media screen and (max-width:768px){
    .logo img{
        width:120px;
    }

    .ham-btn img{
        width:24px;
    }

    .main-slider{
        /* 현재 보고있는 기기의 높이...vh(기본100)
            현재 보고있는 기기의 너비...vw(기본100)*/
        height:130vw;
    }

    .main-slider>div{
        height:100%;
    }

    .main-slider>div .img-box img{
        height:100%;
        object-fit:cover;
    }

    .main-slider>div .text-box{
        width:100%;
    }

    .main-slider>div .text-box .shop-now-btn>a{
        padding: 1rem 3rem;
        font-size:1.6rem;
    }

    .main-slider-wrap .slider-pager{
        left:0;
        width:100%;
        bottom:24px;
        gap:10px;
    }

    .container{
        margin-top:50px;
    }

    .container section{
        margin-bottom:50px;
    }

    .container .section-title{
        font-size:4rem;
        margin-bottom: 4rem;
    }

    .make-your-wrap .make-your .text-box{
        width:100%;
    }

    .make-your .text-box .lets-btn{
        padding:1rem 3rem;
        font-size:1.6rem;
    }

    .new-in-wrap .line-text{
        font-size:6rem;
    }

    .new-in-wrap .new-item-img{
        width:100%;
    }

    .new-in-wrap .shop-now-btn>a,
    .arrow-list>li>a{
        padding:1rem 3rem;
    }

    .tab-menu-list{
        font-size:1.75rem;
        gap:5rem;
    }

    .catalogue-list>div .thumb-img{
        gap:0;
    }

    .footer-bottom{
        gap:0;
    }

    .sns-list>li{
        felx:1;
    }